# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB, and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URLD="prisma+postgres://accelerate.prisma-data.net/?api_key=<YOUR_API_KEY>"
DATABASE_URLD2="postgresql://<USERNAME>:<PASSWORD>@localhost:5432/bookstore_db"
DATABASE_URL="postgresql://<USERNAME>:<PASSWORD>@database-bookstore.c16me4y0mqgj.ap-southeast-1.rds.amazonaws.com:5432/bookstore_db?schema=public"

# Server Environment 
PORT=5000

JWT_SECRET="<YOUR_SECRET>"
JWT_EXPIRATION="1h"
